/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	background-image: url(../img/fons/fon.jpg);
	background-attachment: fixed;
	background-size: 100% 100%;
/*	overflow: hidden;*/
}
::-webkit-scrollbar { /* chrome based */
    width: 4px;  /* ширина scrollbar'a */
}
::-webkit-scrollbar-track {
    background: #999; 
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #555; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #222; 
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/****************************************************/

.b{
	font-weight: bold;
}
.fontSize{
	font-size: 20px;
}

.header{
	margin-top: -4px;
	background-color: #0f1028;
	border: solid 4px black;
	border-top: 0;
	border-radius: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding: 4px;
	font-family: "Comic Sans MS", sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: gray;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.content{
	font-family: "Comic Sans MS", sans-serif;
	background-color: lightgray;
	border-right: solid 4px black;
	border-left: solid 4px black;
	border-bottom: solid 4px black;
	border-radius: 0 0 10px 10px;
	padding: 4px;
	min-width: 800px;
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.wrapper{
	display: flex;
	flex-direction: column;
	max-width: 1200px;
	width: 100%;
	margin:  4px auto;
}

img{
	max-width: 100%;
}

.nameAndA{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.bFS{
	font-weight: bold;
	font-size: 20px;
	border-bottom: solid 2px #555;
}

.headerWebSiteName{
	margin-left: 10px;
	color: gray;
}
.headerMenu{
	margin-right: 10px;
}

.colorGray{
	color: gray;
}
.colorBlack{
	color: black;
}

.aColorGray{
	color: gray;
	transition: color .5s linear;
}
.aColorGray:hover{
	color:  red;
}

.moreInfo{
	font-size: 20px;
	color: red;
	margin-right: 10px;
}

.treadContent{
	margin-top: 10px;
}

.utilityWowImg,.studyFeralImg{
	margin-right: 10px;
}

.studyFeral{
	margin-top: 8px;
}

.morpherImg{
	border: solid 4px black;
	border-radius: 10px;
}

.downloadButt{
	position: relative;
	transform: translate(-50%, -50%);
	left: 50%;
	border: solid 2px blue;
	border-radius: 10px;
	margin-bottom: 10px;
	margin-top: 30px;
	display: block;
	max-width: 250px;
	max-height: 20px;
	text-align: center;
	font-size: 16px;
}
.utilityWowImg,.studyFeralImg{
	max-width: 220px;
	width: 100%;
	max-height: 125px;
	height: 100%;
	border: solid 2px black;
	border-radius: 10px;	
}

#passwordWrite{
	padding: 10px;
	border: solid 2px black;
	border-radius: 4px;
	position: relative;
	transform: translate(-50%, 0%);
	left: 50%;
	text-align: center;
	font-size: 16px;
}
#passwordWrite:active{
	color: red;
}

.spoiler{
	text-align: center;
}

@media(max-width: 1200px){
	.header{

	}
	.wrapper{
		max-width: 970px;
	}
	.content{
		max-width: 770px;
		min-width: 550px;
	}
	.spoiler-p{
		max-width: 750px;
	}
}

@media(max-width: 992px){
	.aColorGray{
		font-size: 16px;
	}
	.utilityWowImg,.studyFeralImg{
		width: 180px;
		height: 100px;
	}
	.treadContent{
		font-size: 14px;
	}
	.bFS,.moreInfo{
		font-size: 16px;
	}
	.header{
		font-size: 20px;
	}
	.wrapper{
		max-width: 750px;
	}
	.content{
		max-width: 550px;
		min-width: 0px;
	}
	.spoiler-p{
		max-widht: 530px;
	}
}

@media(max-width: 550px){
	.utilityWowImg,.studyFeralImg{
		width: 150px;
		height: 120px;
	}
	.treadContent{
		font-size: 12px;
	}
	.bFS,.moreInfo{
		padding-bottom: 4px;
		font-size: 15px;
		border: 0;
		margin: 0;
	}
	.nameAndA{
		flex-direction: column;
	}
	.studyFeralA{
		right: 100%;
	}
	.header{
		border-top: 0;
		border-left: 0;
		border-right: 0;
		border-radius: 0;
		font-size: 0;
		display: block;
		text-align: center;
	}
	.headerWebSiteName{
		margin-left: 0;
		font-size: 24px;
	}
	.headerMenu{
		opacity: 0;
	}
	.wrapper{
		max-width: none;
	}
	.content{
		border-top: 0;
		border-left: 0;
		border-right: 0;
		border-radius: 0;

		max-width: none;
	}
	.spoiler-p{
		max-width: none;
	}
}
